/* Code originally based on a combination of two styles.css Files: */
/* File 1: From 06-bootstrap exercises */
/* File 2: General styles.css used in all the exercises */
/* Edited and updated by Serena Glick */

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lavender: #e6e6fa;
  --slateblue: #6a5acd;
  --navy: #000080;
  --blue: #1e90ff;
  --violetred: #c71585;
  --orange: #ffa500;
  --red: #dc143c;
  --green: #006400;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 10px;
}

h1 {
  text-align: center;
}

form {
  width: 600px;
}

form > * {
  margin: 1rem;
}

.row > * {
  height: 160px;
  border: 1px solid var(--white);
  background-color: var(--purple);
  color: var(--white);
  font-size: 1.4em;
}

.box {
  height: 160px;
}

* {
  box-sizing: border-box;
}
