/* Code originally based on a combination of two styles.css Files: */
/* File 1: From 06-bootstrap exercises */
/* File 2: General styles.css used in all the exercises */
/* Edited and updated by Serena Glick */

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lavender: #e6e6fa;
  --slateblue: #6a5acd;
  --navy: #000080;
  --blue: #1e90ff;
  --violetred: #c71585;
  --orange: #ffa500;
  --red: #dc143c;
  --green: #006400;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--white);
  background-image: url("img/negative-space-blue-and-yellow-flowers.jpg");
}

.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 120px;
  margin: 20px;
}

h1,
h2 {
  text-align: center;
  width: auto;
  background-color: rgb(4, 4, 202);
  border: 10px solid rgb(255, 251, 175); /* 1px width, solid style, red color */
  padding: 15px; /* Space between the text and the border */
  display: inline-block; /* Allows the border to wrap closely around content */
}

.form {
  color: var(--white);
}

form {
  width: 600px;
}

form > * {
  margin: 1rem;
}

.row > * {
  height: 540px;
  border: 20px solid rgb(110, 130, 241);
  background-color: rgb(255, 251, 175);
  color: var(--black);
  font-size: 1em;
}

a:link {
  color: blue; /* Sets the color for unvisited links */
}

/* Visited link */
a:visited {
  color: purple; /* Sets the color for visited links */
}

.box {
  height: 160px;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 80px;
  padding: 0 0.5em;
}

nav {
  background: rgb(255, 251, 175);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: var(--white);
}

nav ul li a:hover {
  background: rgb(253, 242, 22);
}

input[type="text"],
input[type="email"] {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 20px; /* Puts 20px of space between the label and input */
  width: 350px; /* Sets a fixed width in pixels */
  height: 30px; /* Sets a fixed height in pixels */
  padding: 12px; /* Adds space inside the box around the text */
  box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
}

.form-container {
  /* Sets the solid background color for the form container */
  background-color: rgb(255, 251, 175);
  color: var(--black);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  max-width: 400px;
  margin: 50px auto; /* Centers the form on the page */
}
