/* Code originally based on a combination of two styles.css Files: */
/* File 1: From 06-bootstrap exercises */
/* File 2: General styles.css used in all the exercises */
/* Edited and updated by Serena Glick */

:root {
  --white: #fcfcfc;
  --black: #040404;

  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lavender: #e6e6fa;
  --slateblue: #6a5acd;
  --navy: #000080;
  --blue: #1e90ff;
  --violetred: #c71585;
  --orange: #ffa500;
  --red: #dc143c;
  --green: #006400;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 120px;
  margin: 20px;
}

h1,
h2 {
  text-align: center;
}

form {
  width: 600px;
}

form > * {
  margin: 1rem;
}

.row > * {
  height: 340px;
  border: 20px solid rgb(110, 130, 241);
  background-color: rgb(255, 251, 175);
  color: var(--black);
  font-size: 1em;
}

.mini-row > * {
  height: 80px;
  border: 20px solid rgb(110, 130, 241);
  background-color: rgb(255, 251, 175);
  color: var(--black);
  font-size: 1em;
}

a:link {
  color: blue; /* Sets the color for unvisited links */
}

/* Visited link */
a:visited {
  color: purple; /* Sets the color for visited links */
}

.box {
  height: 160px;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 80px;
  padding: 0 0.5em;
}

nav {
  background: rgb(255, 251, 175);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 0.5em;
  text-decoration: none;
  color: var(--white);
}

nav ul li a:hover {
  background: var(--gray1);
}
