//- Initial code outline from wiki.pug
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 About this Site
      section.text This site was created by SG for a Full Stack project.  It was inspired by her children who are really into this game.
    include includes/footer.pug