//- Initial code outline from wiki.pug
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 Battle
      section.text This is where you're gonna pick a plant and a zombie to battle
    include includes/footer.pug