//- Initial code outline from Fullstack/HW3
//- Edits and additional code by Serena Glick, Winter 2026
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 #{heading}
      section.text Welcome to the #{title} page!
      img(src='/img/free-photo-earth.jpg' alt='image of the Earth from space' width='250' height='250')
      section.text This website was built with Pug templates, Express, and API data from: 
      a(href="https://restcountries.com/") Rest Countries API
    include includes/footer.pug