//- Initial code outline from Fullstack/HW3
//- Edits and additional code by Serena Glick, Winter 2026
doctype html
html(lang="en")
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 #{heading}
      section.text Welcome to the #{title} page!
      .flexbox-container
        a.item.item4(href="/wiki") Wiki
        a.item.item5(href="/battle") Battle
    include includes/footer.pug