//- Initial code outline from Fullstack/HW3
//- Edits and additional code by Serena Glick, Winter 2026
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title} - Full Stack Final Project (sglick)
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
  link(rel='stylesheet', href='/stylesheets/styles.css')