//- Initial code outline from Fullstack/HW3
//- Edits and additional code by Serena Glick, Winter 2026
nav.navbar.fixed-top.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href='/')| Home
  button.navbar-toggler(type='button' data-toggle='collapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  div.collapse.navbar-collapse
    ul.navbar-nav.mr-auto 
      li.nav-item   
        a.nav-link(href='/wiki') Wiki
      li.nav-item   
        a.nav-link(href='/battle') Battle
      li.nav-item   
        a.nav-link(href='/about') About