:root {
  --purple: #1f0435;
  --grey: #333333;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0.5em;
}

h1,
h2 {
  color: var(--purple);
}

.container {
  margin-top: 4rem;
}

.text {
  margin-top: 0.5em;
  color: var(--grey);
  font-size: larger;
}

.footer {
  position: auto;
  left: 0;
  bottom: 0;
}

.footer > .copyright {
  margin: 1em;
}
